# ======================
# OS / SYSTEM
# ======================
.DS_Store

# ======================
# ENV / SECRETS
# ======================
.env
.env.*
*.local

# ======================
# CERTS / KEYS
# ======================
*.key
*.pem
*.crt
infra/certs/

# ======================
# JAVA / SPRING BOOT
# ======================
backend/target/
*.log

# ======================
# NODE / FRONTEND
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# IDEs
# ======================
.idea/
*.iml
.vscode/

# ======================
# DOCKER
# ======================
**/.dockerignore

# ======================
# TEST / COVERAGE
# ======================
coverage/
